<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifans.rank.mapper.UserGoodsBagMapper">

    <select id="selectByUserId" parameterType="java.lang.String" resultType="com.ifans.api.rank.vo.UserGoodsBagVo">
        select sg.*, ugb.user_id, ugb.goods_id, IFNULL(ugb.total, 0) total, ugb.version from store_goods sg
        left join (select * from user_goods_bag
            where user_id = #{userid}
        ) ugb on ugb.goods_id = sg.id
        where del_flag = '0'
          and status= '0'
    </select>

    <insert id="addOrUpdate" parameterType="com.ifans.api.rank.domain.UserGoodsBag">
        INSERT into user_goods_bag (user_id, goods_id, total)
        VALUES (#{userId}, #{goodsId}, #{total})
        ON DUPLICATE KEY UPDATE
            total = total + #{total}
    </insert>

    <update id="updateUserGoodsTotal" parameterType="com.ifans.rank.vo.HitCallVo">
        update user_goods_bag set total = #{newTotal}, version = version + 1
        where user_id = #{userId}
          and goods_id = #{goodsId}
          and total = #{oldTotal}
          and version =#{version}
    </update>
</mapper>