<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifans.rank.mapper.IdolRankMapper">

    <select id="pageList" resultType="com.ifans.rank.domain.IdolRank">
        SELECT * FROM idol_rank
        order by rank_hot desc
    </select>

    <update id="upRankHot">
        update idol_rank set rank_hot = rank_hot + #{hot}
        where id = #{idolId}
    </update>
</mapper>