<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifans.store.mapper.StoreMapper">

    <select id="pageList" resultType="com.ifans.api.system.domain.StoreGoods">
        SELECT * FROM store_goods
        WHERE status = #{status}
    </select>
</mapper>