<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifans.order.mapper.OrderMapper">

    <select id="pageList" resultType="com.ifans.api.order.vo.StoreOrderVo">
        SELECT * FROM store_order
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            and status = #{status}
        </where>
        order by order_time desc
    </select>

    <select id="searchOrderItemsByOrderId" resultType="com.ifans.api.order.domain.StoreOrderItem">
        SELECT *
        FROM store_order_item
        where order_id = #{id}
    </select>

    <select id="selectByOrderNo" resultType="com.ifans.api.order.domain.StoreOrder">
        SELECT *
        FROM store_order
        WHERE order_no = #{order_no}
    </select>

    <select id="getNotPayOrder" resultType="com.ifans.api.order.domain.StoreOrder">
        SELECT *
        FROM store_order
        WHERE pay_status = 0
          and order_time <![CDATA[ <= ]]> DATE_SUB(NOW(), INTERVAL 5 MINUTE)
    </select>
</mapper>